# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies

# production

# misc
.DS_Store
.env.local
.env.development.local

node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#ignore system folders
.idea/
.vscode/


#ignore system files
yarn.lock


src/*
public/*
build/static/css/*.map
build/static/js/*.map
